/* https://www.nordtheme.com/ */

:root {
  --nord0: 220 16% 22%;  /* black0 - #191D24 */
  --nord1: 220 16% 36%;  /* black1 - #1E222A */
  --nord2: 220 16% 28%;  /* black2 - #222630 */
  --nord3: 210 13% 40%;
  --nord4: 210 36% 91%;
  --nord5: 220 16% 66%;  /* gray2 - #3B4252 */
  --nord6: 220 16% 76%;  /* gray3 - #434C5E */
  --nord7: 180 31% 52%;  /* cyan - #8FBCBB */
  --nord8: 193 43% 67%;  /* blue0 - #5E81AC */
  --nord9: 210 34% 63%;  /* blue1 - #81A1C1 */
  --nord10: 210 34% 53%; /* blue2 - #88C0D0 */
  --nord11: 10 16% 48%; 
  --nord12: 14 51% 63%;  /* orange - #D08770 */
  --nord13: 40 71% 73%;  /* yellow - #EBCB8B */
  --nord14: 92 28% 65%;  /* green - #A3BE8C */
  --nord15: 311 20% 63%; /* magenta - #B48EAD */
}
