:root {
  /* sizes */
  --height: 0.5rem;
  --bar-margin-y: 0.125rem;
  --bar-margin-x: 0.25rem;

  /* fonts */
  --font-family: "SF Pro Display", Roboto, Helvetica, Arial, sans-serif;
  --font-size: 12px;
  --font-weight: 500;

  /* border */
  --border-size: 1px;
  --radius: 9999px;

  /* shadow */
  --shadow-size-bar: 0px;
  --shadow-size-button: 0px;

  /* colors */
  --text: var(--nord4);
  --bg: var(--nord0);
  --border: var(--nord3);
  --shadow: var(--nord3);
  --icon: var(--nord11);
  --memory: var(--nord7);
  --cpu: var(--nord11);
  --cpu-high-usage: var(--nord11);
  --battery-good: var(--nord14);
  --battery-mid: var(--nord13);
  --battery-low: var(--nord11);
  --focused-process: var(--nord8);
  --process: var(--nord9);
  --displayed: var(--nord4);
  --ws-1: var(--nord11);
  --ws-2: var(--nord12);
  --ws-3: var(--nord13);
  --ws-4: var(--nord14);
  --ws-5: var(--nord15);
  --tiling-direction: var(--nord8);
  --not-playing: var(--nord11);
  --now-playing: var(--nord14);
  --network: var(--nord4);
  --weather: var(--nord4);
}
